.button-container > button {
  border-radius: 20px;
  border: 1px solid #4cc9f0;
  background-color: #4cc9f0;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercFase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
