.profile-image img {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: solid 7px transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(90deg,
      #bde0fe 40%,
      #a2d2ff 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-size: 100% 100%, 100% 100%;
  background-position: center center, center bottom;
  background-repeat: no-repeat;
  transition: .2s all;
}

.profile-image .overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: #b9fbc02e;
  top: 35px;
  left: 60px;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.profile-image.selectable img:hover {
  cursor: pointer;
  opacity: .8;
}