.user-image-collection {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-image-collection .user-image-container:nth-child(1) {
    position: relative;
    left: 0px;
    z-index: 4;
}

.user-image-collection .user-image-container:nth-child(2) {
    position: absolute;
    left: 15px;
    z-index: 3;
    filter: brightness(0.95)
}

.user-image-collection .user-image-container:nth-child(3) {
    position: absolute;
    left: 30px;
    z-index: 2;
    filter: brightness(0.9)
}