.elections-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.elections-container>.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0px;
    right: 10px;
}

.elections-page .elections-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 35%;
    max-width: 550px;
    min-width: 400px;
    height: fit-content;
    margin-top: 80px;
}

.elections-page .elections-container .election-card {
    margin-top: 25px;
}